/**header**/
.logo img{
    max-width: 120px;
    max-height: 100px;
    align-self: center;
    
}

.primary-header {
    display: flex;
    border: 1px solid #000000;
    background-color: #B9B4C7;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    max-height: 140px;
}

.header-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 140px;
}

.search-bar {
    
}




/**homepage**/

.h1 {
    font-family: 'inter';
    font-size: 40px;
    align-self: center;
}

.h1-homepage {
    display: flex;
    
}


.program-conteiner img {
    display: flex;
    max-width: 20%;
}

/* .Program-conteiner {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
} */

.homepage-content {
    display: grid;
    grid-template-columns: 4fr;
}