/* ------------list------------ */
/* 1:header */
/* 2: footer */
/* 3: Homepage */
/* 4: exhibitions */
/* 5: events */
/* 6: information */
/* 7: school */
/* 8: media querys */

/* -------------------------------------------------------------------------- */

/**header**/
header {
  background-color: #b9b4c7;
  padding: 10px 0;
  box-shadow: 0 2px 5px #000;
}
.primary-header {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.logo img {
  max-width: 100%;
  height: auto;
}

.search-bar {
  margin-left: auto;
}
.search-bar input[type="text"] {
  width: 200px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.header-text ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
.header-text ul li {
  margin-right: 20px;
}
.header-text ul li:last-child {
  margin-right: 0px;
}
.header-text ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}
.header-text ul li a:hover {
  text-decoration: underline;
  color: white;
}

label[for="search"] {
  display: none;
}
/* hamburgermeny */
/* opted into not having a hamburgermy */
/* Footer */
footer {
  background-color: #b9b4c7;
  color: #000;
  padding: 20px 0;
  margin-top: 20px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-section {
  flex: 1;
  padding: 0 20px;
}
.footer-section h5 {
  font-size: 18px;
  margin-bottom: 0 20px;
}
.line,
.line1 {
  height: 2px;
  background-color: #000;
}
.newsletter-form label,
.newsletter-form input {
  display: block;
  margin-bottom: 10px;
}

.Checkbox-footer {
  display: flex;
  align-items: center;
}

.Checkbox-footer input[type="checkbox"] {
  margin-right: 10px;
}

.Checkbox-footer label {
  font-size: 14px;
  margin: 0;
}
button {
  background-color: #d9d9d9;
  color: #000;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #333;
  color: #ffff;
}
/**homepage**/

.h1-homepage {
  font-size: 40px;
  font-family: "inter";
  text-align: center;
}

.homepage-content {
  width: 100%;
  background-color: #b9b4c7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}

.program-text {
  float: left;
}
.program-text2 {
  float: right;
}
.program-text,
.program-text2 {
  background-color: #000000;
  width: 100%;
  height: 100px;
}
.h3 {
  color: white;
  font-size: "inter";
  font-weight: 400;
  font-size: 32px;
  margin-left: 20px;
  margin-top: 20px;
}

.Program-conteiner1,
.Program-conteiner2,
.Program-conteiner3,
.Program-conteiner4,
.Program-conteiner5,
.Program-conteiner6 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 400px;
  justify-content: space-evenly;
}

.program-information {
  border: 2px solid black;
  height: 250px;
}

.cta {
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px;
  padding: 15px 2%;
  font-weight: bolder;
  font-size: 20px;
  color: #000;
}

/* exhibitions */

.h1-exhibition {
  color: solid black;
  text-align: center;
}
.h1-exhibition img {
  display: flex;
  flex-wrap: wrap;
}

main {
  background-color: #b9b4c7;
  max-width: 1920px;
}

.exhibtion-text1,
.exhibtion-text2,
.exhibtion-text3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.visit-exhibitions p {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.visit-exhibitions {
  max-width: 1920px;
}
.Cosmology-picture img,
.mammoth-picture img,
.heart-picture img,
.exhibition-img img {
  max-width: 100%;
  height: 500px;
}
.conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.biology-text,
.medicine-text,
.dinosaurs-text,
.evolution-text,
.Cosmology-text,
.planets-text,
.exhibtion-text1,
.exhibtion-text2,
.exhibtion-text3 {
  border: 2px solid black;
  flex: 1;
  padding: 20px;
  margin: 10px;
}

.button {
  padding: 10px 20px;
  background-color: lightgrey;
  color: #000;
  border: none;
  cursor: pointer;
}
/* EVENTS */
.all-events {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.event-picture img {
  max-width: 100%;
}

.event-picture {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 5px;
}

.text-overlay {
  background-color: #b9b4c7;
  text-align: center;
}

.Professor-event,
.sleepover,
.energetica-event {
  border: 2px solid black;
  max-width: 400px;
  margin: 10px;
}

.professor-series {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.event-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.event-item img {
  max-width: 100%;
  height: auto;
}
.event-text {
  padding: 20px;
}

.explanation {
  margin: 2%;
}

.event-text {
  border: 2px solid black;
  margin: 5px;
}

/* information */
.Information-h1 {
  text-align: center;
  font-weight: bold;
}

.Admission,
.Accessibility,
.Food-Drinks,
.Shop,
.Opening-hours {
  border: 1px solid black;
  margin-top: 10px;
  max-width: 350px;
  margin-bottom: 10px;
}

.Information {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border: solid black 2px;
}

/* school */
.School img {
  max-width: 100%;
}

.school-information {
  border: 3px solid black;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  font-weight: 200;
  font-family: sans-serif;
}

.school-h1 {
  text-align: center;
  font-family: "inter";
  font-weight: bold;
}
/* media querys */

/* media querys for header */
@media (max-width: 1080px) {
  .search-bar {
    display: none;
  }
}

@media (max-width: 1050px) {
  .Adress p,
  .private p,
  .news p,
  .Checkbox-footer,
  .adress,
  .private,
  .news {
    font-size: 16px;
    font-weight: 200;
  }
}
@media (max-width: 711px) {
  .private,
  .adress {
    display: none;
  }
}

@media (max-width: 711px) {
  .news {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 1000px) {
  .h1-homepage {
    font-size: 30px;
  }
}

@media (max-width: 1000px) {
  .header-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (max-width: 450px) {
  .h1-homepage {
    font-size: 20px;
  }
}

@media (max-width: 415px) {
  .Program-conteiner1 img,
  .Program-conteiner2 img,
  .Program-conteiner3 img,
  .Program-conteiner4 img,
  .Program-conteiner5 img,
  .Program-conteiner6 img {
    display: flex;
    width: 100%;
  }
}

@media (max-width: 1115px) {
  .footer-section2 {
    display: none;
  }
}
@media (max-width: 720px) {
  .footer-section3 {
    display: none;
  }
}

@media (max-width: 720px) {
  .footer-section1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    font-weight: 300;
  }
}
